* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Arial", sans-serif;
}



/* navbar css over the video  */
/* the top */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  background-color: #fff;
  border-bottom: 2px solid red;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.logo span {
  color: black;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right input[type="text"]{
width: 250px;
padding: 8px 12px;
border: 1px solid #ccc;
border-radius: 5px;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-weight: 500;
  
}
.nav-links {
  list-style: none;   /* removes the black dots */
  display: flex;      /* makes the list horizontal */
  gap: 20px;          /* spacing between items */
  margin: 0;
  padding: 0;
}
.nav-links li {
  list-style: none;   /* just in case */
}


.nav-links a:hover {
  color: #e74c3c;
}

.search-bar {
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.city-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.sign-in-btn {
  padding: 10px 15px;
  background-color:red ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* under the navbar body */
body{
    background-color: black;
    
}

/* video banner the banner which shows the video  */
.video-banner{
    position:relative;
    width: 100%;
    height:70vh;
    overflow: hidden;
}

.video-banner iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/* slide function which is in the middle after the trailer showcase*/
.container{
    margin: 40px auto;
    padding:20px;
    width: 70%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 90%;
}
.container::-webkit-scrollbar {
  display: none;
}
.container img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    transform: scale(1.15);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.5);
    z-index: 10;
}

/* movie container which has all the movies,concerts,theatre,comedy section */
.movie-section{
    margin:60px auto;
    max-width: 90%;
}
.movie-section h2{
    margin-bottom: 20px;
    font-size: 22px;
    color: white;
}
.movie-container{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}
.movie-container::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}
.movie-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  flex: 1 1 auto;
  max-width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 16px rgba(0,0,0,0.5);
}
.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.movie-info {
  padding: 10px;
  text-align: left;
}

.movie-info h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.genre {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 5px;
}

.rating {
  font-size: 13px;
  color: #ff4c4c;
}

.rating span {
  color: #ddd;
  font-size: 12px;
}

/* banner under concert and movie  */
.banner-container {
  width: 100%;             
  display: flex;            
  justify-content: flex-start; 
  margin: 1.5rem 0;        
}

.banner-image {
  width: 90%;             
  height: 10rem;          
  object-fit: cover;       
  border-radius: 0.5rem;   
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}




/* small footer */
footer {
  background: #111;
  color: #ccc;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 5 px;
}

footer a {
  color: #e25b0d;
  text-decoration: none;
  margin: 0 8px;
}


/* responsiveness */
.menu-icon{
    display: none;
}

@media(max-width:768px){
    .nav-links{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .movie-card img{
        height: 220px;
    }
}

@media (max-width: 480px) {
  .navbar-right input,
  .navbar-right select {
    width: 100%; /* stretch on small screen */
    margin-top: 10px;
  }
  .movie-card {
    max-width: 150px;
  }
}
